<%- include('./customer/head.ejs') %>

<% var active=active || 'dashboard' ; %>

    <div id="container" class="flex h-screen overflow-hidden w-full">

        <%- include('./customer/headbar.ejs') %>

        <div class="page-container w-[70%] h-screen" id="dashboard-screen">
            <div class="h-screen w-full bg-lightbg">
                <%- include('./customer/dashboardMap.ejs')%>
            </div>
        </div>
        <div class="page-match-container h-screen w-[25%] bg-dark" id="dashboard-match-screen" style="display: none;">
            <%- include('./customer/garageList.ejs') %>
        </div>

        <div class="page-container w-[70%] h-screen bg-lightbg" id="vehicle-screen">
          <div class="h-screen w-full bg-lightbg">
              <%- include('./customer/garageDetail.ejs')%>
          </div>
        </div>
        <div class="page-match-container h-screen w-[25%] bg-dark" id="vehicle-match-screen" style="display: none;">
            <%- include('./customer/vehiclesType.ejs') %>
        </div>


        <div class="page-container w-[70%] h-screen bg-lightbg" id="addVehicle-screen">
            <div class="h-screen w-full bg-lightbg">
                <%- include('./customer/addVehicle.ejs')%>
            </div>
        </div>
        <div class="page-match-container h-screen w-[25%] bg-dark" id="addVehicle-match-screen" style="display: none;">
            <%- include('./customer/vehicles.ejs') %>
        </div>

    </div>

    <script>

        const setActive = (activated) => {
            document.querySelectorAll('.page-container').forEach(page => page.style.display = "none")
            document.querySelectorAll('.page-match-container').forEach(page => page.style.display = "none")
            let screen = document.querySelector(`#${activated}-screen`);
            screen.style.display = "block";
    
    
    
            let matchScreen = document.querySelector(`#${activated}-match-screen`);
            matchScreen.style.display = "block";
            history.pushState(null, null, activated == "dashboard" ? "home" : activated)
        }
        // const activeSub = (activated) => {
        //     document.querySelectorAll('.page-container').forEach(page => page.style.display = "none");
        //     let screen = document.querySelector(`#${activated}-screen`);
        //     screen.style.display = 'flex';
        // }
        setActive('<%= active %>');
        
    </script>

<%- include('./customer/footer.ejs') %>