<script src="https://cdn.tailwindcss.com"></script>
<script>
    tailwind.config = {
        theme: {
            extend: {
                colors: {
                    dark: '#152533',
                    blue: '#355364',
                    white: '#FFFFFF',
                    light: '#D9D9D9',
                    lightbg:"#d7e0e7",
                    lightorange: 'burlywood',
                    card1bg: 'rgba(255, 225, 200, 0.5)',
                    card1text: '#e96a00',
                    card2bg: 'rgba(225, 246, 247, 0.5)',
                    card2text: '#34cdd0',
                    card3bg: 'rgba(252, 226, 225, 0.5)',
                    card3text: '#df5e5e',
                    card4bg: 'rgba(237, 231, 251, 0.5)',
                    card4text: '#9a78ea'
                }
            }
        }
    }
</script>
<%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/styles/ownerProfile.css">
    <link rel="stylesheet" href="/styles/garageForm.css">
    </head>
    <% var active=active || 'dashboard' ; %>

        <body class="overlow-hidden">
            <div class="dashboard-container h-screen w-screen flex">
                <%- include('./partials/sidebar', {active}) %>
                    <div class="page-container flex flex-col h-full bg-lightbg p-5 flex-grow" style="display: none;" id="dashboard-screen">
                        <%- include(`./partials/topBar.ejs`, {active:"Dashboard"})%>
                            <%- include(`./partials/dashboard.ejs`) %>
                    </div>
                    <div class="page-container flex flex-col h-full bg-lightbg p-5 flex-grow" style="display: none;" id="profile-screen">
                        <%- include(`./partials/topBar.ejs`,{active:"Profile"})%>
                            <%- include(`./partials/profile.ejs`) %>
                    </div>
                    <div class="page-container flex flex-col h-full bg-lightbg p-5 flex-grow" style="display: none;" id="garages-screen">
                        <%- include(`./partials/topBar.ejs`,{active:"Garages"})%>
                            <%- include(`./partials/garages.ejs`) %>
                    </div>
                    <div class="page-container flex flex-col h-full bg-lightbg p-5 flex-grow" style="display: none;" id="services-screen">
                        <%- include(`./partials/topBar.ejs`,{active:"Services"})%>
                            <%- include(`./partials/services.ejs`) %>
                    </div>
                    <div class="page-container flex flex-col h-full bg-lightbg p-5 flex-grow" style="display: none;" id="slots-screen">
                        <%- include(`./partials/topBar.ejs`,{active:"Slots"})%>
                            <%- include(`./partials/slots.ejs`) %>
                    </div>
                    <div class="page-container flex flex-col h-full bg-lightbg p-5 flex-grow" style="display: none;" id="appointment-screen">
                        <%- include(`./partials/topBar.ejs`,{active:"Appointments"})%>
                            <%- include(`./partials/appointments.ejs`) %>
                    </div>
                    <div class="page-container flex flex-col h-full bg-lightbg p-5 flex-grow" style="display: none;" id="inventory-screen">
                        <%- include(`./partials/topBar.ejs`,{active:"Inventory"})%>
                            <%- include(`./partials/inventory.ejs`) %>
                    </div>
                    <div class="page-container flex flex-col h-full bg-lightbg p-5 flex-grow" style="display: none;" id="invoice-screen">
                        <%- include(`./partials/topBar.ejs`,{active:"Invoice"})%>
                            <%- include(`./partials/invoice.ejs`) %>
                    </div>
            </div>
            <script>
                const setActive = (activated) => {
                    document.querySelectorAll('li').forEach(li => { li.classList.remove('bg-blue');li.classList.add('opacity-50') })
                    let active = document.querySelector(`.menus ul li[id=${activated}]`);
                    active.classList.add('bg-blue');
                    active.classList.remove('opacity-50');
                    document.querySelectorAll('.page-container').forEach(page => page.style.display = "none")
                    let screen = document.querySelector(`#${activated}-screen`);
                    screen.style.display = 'flex'
                }
                setActive('<%= active %>');
                document.querySelectorAll('li').forEach(li => {
                    li.addEventListener('click', () => {
                    if (li.id == 'logout') {
                            Swal.fire({
                                title: "Are you sure?",
                                text: "really you want to logout..",
                                showDenyButton: true,
                                showCancelButton: false,
                                confirmButtonText: "Yes",
                                denyButtonText: `No`,
                                icon: "question"
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    location.href = "/logout"
                                }
                            });
                            return
                        }
                        setActive(li.id)
                        history.pushState(null,null,li.id=="dashboard"? "home" :li.id)
                    })
                });
            </script>

            <%- include('./partials/foot') %>